{{ define "main" }}
  <h1>Publications</h1>
  <ul>
    {{ range site.Data.publications }}
      <li style="margin-bottom: 1.5em;">
        <strong>{{ .title }}</strong><br>
        <span>{{ .authors }} ({{ .year }})</span><br>
        <span>
          {{ if .doi }}[<a href="{{ .doi }}" target="_blank">DOI</a>]{{ end }}
          {{ if .lsbu }}[<a href="{{ .lsbu }}" target="_blank">LSBU</a>]{{ end }}
          {{ if .scholar }}[<a href="{{ .scholar }}" target="_blank">Scholar</a>]{{ end }}
        </span>
      </li>
    {{ end }}
  </ul>
{{ end }}
